[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm.git

[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb.git

[submodule "External/sdl"]
	path = External/sdl
	url = https://github.com/libsdl-org/SDL.git

[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git

[submodule "External/ImPlot"]
	path = External/ImPlot
	url = https://github.com/epezent/implot.git

[submodule "External/VulkanCS"]
	path = External/VulkanCS
	url = https://github.com/ThomasDHZ/VulkanCS.git

[submodule "External/VulkanMemoryAllocator"]
	path = External/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git

[submodule "External/entt"]
	path = External/entt
	url = https://github.com/skypjack/entt.git

[submodule "External/zlib"]
	path = External/zlib
	url = https://github.com/madler/zlib.git

[submodule "External/libpng"]
	path = External/libpng
	url = https://github.com/pnggroup/libpng.git

[submodule "External/LodePNG"]
	path = External/LodePNG
	url = https://github.com/lvandeve/lodepng.git

[submodule "External/BasisUniversal"]
	path = External/BasisUniversal
	url = https://github.com/BinomialLLC/basis_universal.git

[submodule "External/SPIRV-Reflect"]
	path = External/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git

[submodule "External/xxHash"]
	path = External/xxHash
	url = https://github.com/Cyan4973/xxHash.git

[submodule "External/ktx"]
	path = External/ktx
	url = https://github.com/KhronosGroup/KTX-Software.git

[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/json"]
	path = External/json
	url = https://github.com/nlohmann/json.git
[submodule "External/sol2"]
	path = External/sol2
	url = https://github.com/ThePhD/sol2.git
